#login{
    background-image: url("https://ak7.picdn.net/shutterstock/videos/32077207/thumb/1.jpg?i10c=img.resize(height:160)");
    height:950px;
}

#message{
    color: red;
}
.nav {
    background-color: #005c99;
    color: #ffffff;
    list-style: none;
    padding: 20px 0 20px 0;
    border-radius:5px;
    -moz-box-shadow: 0 0 20px white;
    -webkit-box-shadow: 0 0 20px white;
     box-shadow: 0 0 20px white;
    
}

.form {

  position: absolute;
  text-align:center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 350px;
  height: 400px;
  background-color:black;
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 20px white;
  -webkit-box-shadow: 0 0 20px white;
  box-shadow: 0 0 20px white;
  
}

#loginh1{
    font-family:"Bodoni MT Black";
    color:white;
    font-size: 3.2rem;
}
#loginbutton{
  font-size: 1.1rem;
  padding: 10px;
  margin: 20px 0px;
  background-color: #328cc1;
  color: White;
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 5px;
  width:350px;
}

#loginbutton:hover {
  background-color: #45a049;
  
}

.reg{
  font-size: 1.1rem;
  padding: 10px;
  background-color: #328cc1;
  color: White;
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 5px;
 
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=text], select {
  
    padding-bottom: 12px;
    padding-left:10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:350px;
    height:30px;
    font-size: 1.2rem;
    font-family: "Arial Rounded MT Bold";
    
}
input[type=password], select {
  
    padding-bottom: 12px;
    padding-left:10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:350px;
    height:30px;
    font-size: 1.2rem;
    font-family: "Arial Rounded MT Bold";
}

li {
    display: inline-block;
    padding: 0 25px 0 25px;
}
#right {
    text-align: right;
    padding: 0 10px 0 1075px;
}
li:hover{
    color: #c1c1c1;
}
#rightuser {
    text-align: right;
    padding: 0 10px 0 800px;
}
#displayblock{
    height: 140px;
    margin: 5px;
}
#usermovie{
    float: left;
	height: 130px;
	width: 750px;
	border-right-style: solid;
    border-color: gainsboro;
    margin: 5px;
}

#userrecommendation{
    float: left;
}